/*

global SCROLLBAR

*/

html {
  scrollbar-color: #ff9827 #0b071e;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #0b071e;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9827;
  width: 5px;
  height: 5px;
}
